@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Proxima+Nova:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proxima Nova', sans-serif;
}

/* Define button styles */
.btn-signin {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #e81c4f;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.btn-signin:hover {
  background-color: #c8003d;
}
.btn-signup {
  background-color: #fff;
  color: #e81c4f;
  border: 2px solid #e81c4f;
}
.button.signup:hover {
  background-color: #e81c4f;
  color: #fff;
}

a {
  text-decoration: none;
  color:inherit;
}



.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.3rem;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-nav {
  display: inline-block;
  margin-right: 20px;
}

.nav-item {
  display: inline-block;
  padding-left: 20px;
}

.nav-link {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: #0366d6;
}

.navbar-toggler {
  display: none;
}

/* open weather material style */

#forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.forecast-card {
  width: 500px;
  height: 500px;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  overflow: hidden;
}

.forecast-header {
  background-color: #2196F3;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.forecast-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconUrl {
  width: 300px;
  height: 500px;
  margin-bottom: 20px;
}

.forecast-temperature {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.forecast-description {
  font-size: 18px;
  color: #333;
}

.card-img-top {
  background-size: contain;
  background-color: #2196F3;
}

/* footer section */

footer {
  background-color: #2d333f;
  color: #fff;
  padding: 10px 0;
}

footer h3 {
  margin-bottom: 30px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .list-inline li {
  display: inline-block;
  margin-right: 10px;
}

footer .list-inline li a {
  color: #fff;
}

.bi {
  font-size: 2.5rem;
}


.card-img-top {
    width:  100%;
    height: 100%;
    object-fit: cover;
}

#map {
  height: 350px;
  width: 100%;
}

 /* for city's activities CSS */

      .card {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        margin: 10px;
        max-width: 260px;
      }
      .card img {
        border-radius: 5px 5px 0 0;
        height: 160px;
        object-fit: cover;
        width: 100%;
      }
      .card-body {
        padding: 15px;
      }
      .card-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .card-text {
        color: #8c8c8c;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .btn {
        border-radius: 0;
        font-size: 14px;
        padding: 8px 16px;
      }
      .btn-primary {
        background-color: #d32f2f;
        border-color: #d32f2f;
      }
      .btn-primary:hover {
        background-color: #b71c1c;
        border-color: #b71c1c;
      }